{% extends "layout.html" %}

{% block head %}
<!-- Custom styles for this template -->
<link href="{{ url_for('static', filename='css/account.css') }}" rel="stylesheet">
{% endblock %}

{% block body_main %}
<div class="well">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab">Profile</a></li>
        <li><a href="#profile" data-toggle="tab">Password</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane active in" id="home">
            <form id="tab" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input name="username" id="username" type="email" class="form-control" value="{{ current_user.username }}" disabled>
                </div>
                <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input id="firstname" name="firstname" type="text" class="form-control" value="{{ current_user.first_name if current_user.first_name != None }}">
                </div>
                <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input id="lastname" name="lastname" type="text" class="form-control" value="{{ current_user.last_name if current_user.last_name != None }}">
                </div>
                <div>
                    <button class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="profile">
            <form id="tab2" method="post">
                <div class="form-group">
                    <label for="password">New Password</label>
                    <input name="password" id="password" type="password" class="form-control">
                </div>
                <div>
                    <button class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/account.js') }}"></script>
{% endblock %}
